<%
var isFullUrl = function(str) {
  return /^(https:|http:|ftp:)?\/\//.test(str);
};
%>

<!-- 首页模板 -->
<div class="container">
  <article class="post">
    <% if (item.photos.length) { %>
      <% var thumb = item.photos[0]; %>
      <% var thumbUrl = isFullUrl(thumb) ? thumb : url_for(thumb) %>

      <a href="<%- config.root %><%- item.path %>">
          <img src="<%- thumbUrl %>" alt="<%- item.title %>" class="attachment-post-thumbnail">
        </a>
    <% } %>
    <h1 class="entry-title">
      <a href="<%- config.root %><%- item.path %>" rel="bookmark">
        <%- item.title || theme.default_post_title || "Untitled" %>
      </a>
    </h1>
    <% if (item.excerpt){ %>
    <div class="entry-content">
      <p>
        <%- item.excerpt %>
      </p>
    </div>
    <% } %>

    <p class="posted-on">
    <%= item.date.format(config.date_format) %>
    </p>
    <div class="tags-links">
      <% item.tags.each(function(tag){ %>
      <a href="<%= config.root %>tags/<%= tag.name %>/" rel="tag">
        <%- tag.name %>
      </a>
      <% }); %>
    </div>
  </article>
</div>