<% if (page.comments){ %>
<section id="comment">
  <!-- <h1 class="title"><%= __('comment') %></h1> -->

  <% if(config.disqus_shortname) { %>
  <div id="disqus_thread">
    <script type="text/javascript">
    var disqus_config = function () {
          this.page.url = window.location.href;
          this.page.identifier = '<%= page.layout %>-<%= page.slug %>';
          this.page.title = '<%= page.title %>';
      };
    </script>
    <noscript>Please enable JavaScript to view the <a href="//disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  </div>
  <% } else if (config.duoshuo_shortname) { %>
    <!-- 多说评论框 start -->
    <div class="ds-thread" data-thread-key="<%= page.layout %>-<%= page.slug %>" data-title="<%= page.title %>" data-url="<%= page.permalink %>"></div>
    <!-- 多说评论框 end -->
  <% } %>
</section>
<% } %>
